<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestSuites" parallel="tests" thread-count="4">

    <listeners>
        <listener class-name="com.epam.reportportal.testng.ReportPortalTestNGListener"/>
    </listeners>

    <test verbose="1" name="testing-firefox">
        <parameter name="browser" value="firefox"/>

        <classes>
            <class name="tests.UpcomingEventsCountTest"/>
            <class name="tests.EventCardViewTest"/>
            <class name="tests.EventDetailInfoTest"/>
<!--            <class name="PastEventsInChinaTests"/>-->
            <class name="tests.SearchTalksByKeyword"/>
<!--            <class name="TalksFiltrationByCategory"/>-->
            <class name="tests.UpcomingEventsDateValidation"/>
        </classes>

    </test>

    <test verbose="1" name="testing-chrome">
        <parameter name="browser" value="chrome"/>

        <classes>
            <class name="tests.UpcomingEventsCountTest"/>
            <class name="tests.EventCardViewTest"/>
            <class name="tests.EventDetailInfoTest"/>
            <class name="tests.PastEventsInChinaTests"/>
            <class name="tests.SearchTalksByKeyword"/>
<!--            <class name="TalksFiltrationByCategory"/>-->
            <class name="tests.UpcomingEventsDateValidation"/>
        </classes>

    </test>

</suite>